Subject: Reset Your Password – We’re Here to Help!

Hi [User’s First Name],

We noticed you’re trying to reset your password – no worries, it happens to the best of us! Let’s get you back on track.

To reset your password, just click the link below:

[Reset My Password]
{{ protocol }}://{{ domain }}/password-reset-confirm/{{ uid }}/{{ token }}/

If you didn’t request a password reset, please ignore this email. Your account will remain secure.

Need more help? We’ve got your back! Feel free to reach out to our support team anytime.

Take care,
The [Your Company] Team

P.S. Keep your password strong, unique, and safe!